In [1]:
# import libraries 
import pandas as pd 
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [3]:
# ingest dataset 
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
df.shape

(9704, 11)

In [6]:
df['fuel_type'].nunique()

2

In [7]:
df['fuel_type']

0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [11]:
df['origin']

0       Europe
1          USA
2       Europe
3          USA
4       Europe
         ...
9699    Europe
9700       USA
9701       USA
9702       USA
9703      Asia
Name: origin, Length: 9704, dtype: object

In [12]:
df['fuel_efficiency_mpg'].max()

np.float64(25.96722204888372)

In [17]:
df_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg']
df_asia

8       16.823554
12      16.175820
14      11.871091
20      18.889083
21      16.077730
          ...
9688    11.054830
9692    11.711653
9693    17.202782
9698    13.933716
9703    14.884467
Name: fuel_efficiency_mpg, Length: 3247, dtype: float64

In [18]:
df_asia = df.loc[df['origin']== 'Asia', 'fuel_efficiency_mpg']
df_asia

8       16.823554
12      16.175820
14      11.871091
20      18.889083
21      16.077730
          ...
9688    11.054830
9692    11.711653
9693    17.202782
9698    13.933716
9703    14.884467
Name: fuel_efficiency_mpg, Length: 3247, dtype: float64

In [20]:
df.loc[df['origin']== 'Asia', 'fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [21]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [23]:
df['horsepower'].describe()

count    8996.000000
mean      149.657292
std        29.879555
min        37.000000
25%       130.000000
50%       149.000000
75%       170.000000
max       271.000000
Name: horsepower, dtype: float64

In [25]:
df['horsepower'].median()

np.float64(149.0)

In [33]:
mode = df['horsepower'].mode()[0]
mode

np.float64(152.0)

In [35]:
df['horsepower'].isnull().sum()

np.int64(708)

In [24]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [38]:
df['horsepower'].fillna(mode, inplace=True)

In [39]:
df['horsepower'].isnull().sum()

np.int64(0)

In [40]:
df['horsepower'].median()

np.float64(152.0)

In [42]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [43]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [45]:
df_asia_cars = df[df['origin']== 'Asia']
df_asia_cars

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [51]:
df[df['origin']== 'Asia']['vehicle_weight'].sum()

np.float64(9761430.865104277)

In [52]:
df[df['origin']== 'Asia'][['vehicle_weight', 'model_year']].sum()

vehicle_weight    9.761431e+06
model_year        6.531306e+06
dtype: float64

In [53]:
df.head(7).sum()

engine_displacement                                                 1330
num_cylinders                                                       23.0
horsepower                                                         905.0
vehicle_weight                                              21136.827355
acceleration                                                       122.1
model_year                                                         14066
origin                                 EuropeUSAEuropeUSAEuropeEuropeUSA
fuel_type              GasolineGasolineGasolineDieselGasolineGasoline...
drivetrain             All-wheel driveFront-wheel driveFront-wheel dr...
num_doors                                                            4.0
fuel_efficiency_mpg                                           101.049623
dtype: object

In [56]:
df_asia_cars.head(7).sum()

engine_displacement                                                 1420
num_cylinders                                                       26.0
horsepower                                                        1116.0
vehicle_weight                                              20578.236816
acceleration                                                        76.3
model_year                                                         14093
origin                                      AsiaAsiaAsiaAsiaAsiaAsiaAsia
fuel_type               DieselDieselDieselGasolineGasolineDieselGasoline
drivetrain             Front-wheel driveAll-wheel driveAll-wheel driv...
num_doors                                                            1.0
fuel_efficiency_mpg                                           106.836789
dtype: object

In [54]:
X = np.array(df[df['origin']== 'Asia'])
X

array([[250, 1.0, 174.0, ..., 'Front-wheel drive', -1.0,
        16.823553726916543],
       [320, 5.0, 145.0, ..., 'All-wheel drive', 1.0, 16.17581958009284],
       [200, 6.0, 160.0, ..., 'All-wheel drive', 0.0, 11.871091010445811],
       ...,
       [280, 2.0, 148.0, ..., 'All-wheel drive', 0.0, 17.202782219342595],
       [180, 1.0, 131.0, ..., 'Front-wheel drive', -2.0,
        13.93371607794469],
       [270, 3.0, 140.0, ..., 'All-wheel drive', -1.0,
        14.884467402842692]], shape=(3247, 11), dtype=object)

In [5]:
n = np.random.randint(low=1, high=100, size=(5,5))
n

array([[86,  7, 35, 73, 57],
       [ 3, 85, 97, 87,  6],
       [49, 85, 26, 98, 44],
       [71, 97,  6, 48,  1],
       [18, 99, 65, 87, 82]])

In [6]:
# n = np.arange()
# n

In [10]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]
 
col = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]
 
pd.DataFrame(data)

         0         1     2      3  4          5            6      7
0   Nissan    Stanza  1991  138.0  4     MANUAL        sedan   2000
1  Hyundai    Sonata  2017    NaN  4  AUTOMATIC        Sedan  27150
2    Lotus     Elise  2010  218.0  4     MANUAL  convertible  54990
3      GMC    Acadia  2017  194.0  4  AUTOMATIC      4dr SUV  34450
4   Nissan  Frontier  2017  261.0  6     MANUAL       Pickup  32340

In [17]:
df = pd.DataFrame(data, columns=col)

In [19]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [23]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
df.Make

0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     Nissan
Name: Make, dtype: object

In [26]:
df['Make']

0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     Nissan
Name: Make, dtype: object

In [27]:
df.index = [1,2,3,4,5]

In [28]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
1,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
2,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
3,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
4,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
5,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [29]:
df.loc[1]

Make                 Nissan
Model                Stanza
Year                   1991
Engine HP             138.0
Engine Cylinders          4
Transmission Type    MANUAL
Vehicle_Style         sedan
MSRP                   2000
Name: 1, dtype: object

In [30]:
df.loc[[1,2]]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
1,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
2,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150

In [31]:
df[['Make', 'Model']]

      Make     Model
1   Nissan    Stanza
2  Hyundai    Sonata
3    Lotus     Elise
4      GMC    Acadia
5   Nissan  Frontier

In [32]:
df.iloc[1]

Make                   Hyundai
Model                   Sonata
Year                      2017
Engine HP                  NaN
Engine Cylinders             4
Transmission Type    AUTOMATIC
Vehicle_Style            Sedan
MSRP                     27150
Name: 2, dtype: object

In [33]:
df.iloc[[1, 2]]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
2,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
3,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990

In [34]:
df.index = ['a', 'b', 'c', 'd', 'e']

In [35]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
d,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
e,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [36]:
df.loc['a']

Make                 Nissan
Model                Stanza
Year                   1991
Engine HP             138.0
Engine Cylinders          4
Transmission Type    MANUAL
Vehicle_Style         sedan
MSRP                   2000
Name: a, dtype: object

In [37]:
df.loc[['b', 'a']]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000

In [39]:
df.iloc[[2, 1]]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150

In [40]:
df.reset_index()

,index,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,d,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,e,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [41]:
df.reset_index(drop = True)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [42]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
d,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
e,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [43]:
df = df.reset_index(drop = True)
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [44]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [45]:
df.Year >= 2015

0    False
1     True
2    False
3     True
4     True
Name: Year, dtype: bool

In [46]:
df[df.Year >= 2015]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [50]:
df[df['Year'] >= 2015]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [49]:
df[(df['Make'] == 'Nissan') & (df['Year'] >= 2015)]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [51]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [54]:
df['Vehicle_Style']

0          sedan
1          Sedan
2    convertible
3        4dr SUV
4         Pickup
Name: Vehicle_Style, dtype: object

In [65]:
df['Vehicle_Style'] = df['Vehicle_Style'].str.capitalize()
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,Sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,Convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr suv,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [66]:
df['Vehicle_Style'] = df['Vehicle_Style'].str.replace(' ', '_')

df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,Sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,Convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr_suv,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [67]:
df['Vehicle_Style'] = df['Vehicle_Style'].str.lower().str.replace('_', "=")
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr=suv,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,pickup,32340

In [68]:
df['Vehicle_Style'] = df['Vehicle_Style'].str.capitalize().str.replace('=', "_")
df['Transmission Type'] = df['Transmission Type'].str.capitalize()
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,Manual,Sedan,2000
1,Hyundai,Sonata,2017,NaN,4,Automatic,Sedan,27150
2,Lotus,Elise,2010,218.0,4,Manual,Convertible,54990
3,GMC,Acadia,2017,194.0,4,Automatic,4dr_suv,34450
4,Nissan,Frontier,2017,261.0,6,Manual,Pickup,32340

In [72]:
df['Engine HP'] = df['Engine HP'].fillna(0)
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,Manual,Sedan,2000
1,Hyundai,Sonata,2017,0.0,4,Automatic,Sedan,27150
2,Lotus,Elise,2010,218.0,4,Manual,Convertible,54990
3,GMC,Acadia,2017,194.0,4,Automatic,4dr_suv,34450
4,Nissan,Frontier,2017,261.0,6,Manual,Pickup,32340

In [73]:
df.MSRP.min()

np.int64(2000)

In [74]:
df.MSRP.max()

np.int64(54990)

In [76]:
df.MSRP.std()

np.float64(18985.044903818372)

In [77]:
df.MSRP.count()

np.int64(5)

In [78]:
df.MSRP.mean()

np.float64(30186.0)

In [75]:
df.MSRP.describe()

count        5.000000
mean     30186.000000
std      18985.044904
min       2000.000000
25%      27150.000000
50%      32340.000000
75%      34450.000000
max      54990.000000
Name: MSRP, dtype: float64

In [79]:
df.Make.nunique()

4

In [80]:
df.nunique()

Make                 4
Model                5
Year                 3
Engine HP            5
Engine Cylinders     2
Transmission Type    2
Vehicle_Style        4
MSRP                 5
dtype: int64

In [81]:
df.isnull()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False

In [82]:
df.isnull().sum()

Make                 0
Model                0
Year                 0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Vehicle_Style        0
MSRP                 0
dtype: int64

# Grouping 

```
SELECT 
    transmission_type,
    AVG(MSRP)
FROM 
    cars
GROUP BY 
    transmission_type
    
```

In [84]:
df.groupby('Transmission Type').mean('MSRP')

                     Year   Engine HP  Engine Cylinders          MSRP
Transmission Type
Automatic          2017.0   97.000000          4.000000  30800.000000
Manual             2006.0  205.666667          4.666667  29776.666667

In [85]:
df.to_dict(orient='records')

[{'Make': 'Nissan',
  'Model': 'Stanza',
  'Year': 1991,
  'Engine HP': 138.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'Manual',
  'Vehicle_Style': 'Sedan',
  'MSRP': 2000},
 {'Make': 'Hyundai',
  'Model': 'Sonata',
  'Year': 2017,
  'Engine HP': 0.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'Automatic',
  'Vehicle_Style': 'Sedan',
  'MSRP': 27150},
 {'Make': 'Lotus',
  'Model': 'Elise',
  'Year': 2010,
  'Engine HP': 218.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'Manual',
  'Vehicle_Style': 'Convertible',
  'MSRP': 54990},
 {'Make': 'GMC',
  'Model': 'Acadia',
  'Year': 2017,
  'Engine HP': 194.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'Automatic',
  'Vehicle_Style': '4dr_suv',
  'MSRP': 34450},
 {'Make': 'Nissan',
  'Model': 'Frontier',
  'Year': 2017,
  'Engine HP': 261.0,
  'Engine Cylinders': 6,
  'Transmission Type': 'Manual',
  'Vehicle_Style': 'Pickup',
  'MSRP': 32340}]

In [86]:
df.groupby('Transmission Type')['MSRP'].mean('MSRP')

Transmission Type
Automatic    30800.000000
Manual       29776.666667
Name: MSRP, dtype: float64